body {
    background-color: #967F7F;
}

.header {
    position: absolute;
    width: 1100px;
    height: 600px;
    left: 132px;
    top: 59px;
    background: #FFFFFF;
}

.Rectangle {
    position: absolute;
    width: 1100px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #E3E3E3;
}

.iogo {
    position: absolute;
    width: 59px;
    height: 62px;
    left: 56px;
    top: 22px;    
}

.link-home {
    position: absolute;
    width: 66px;
    height: 31px;
    left: 440px;
    top: 35px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.link-product {
    position: absolute;
    width: 88px;
    height: 31px;
    left: 560px;
    top: 35px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.link-collection {
    position: absolute;
    width: 113px;
    height: 31px;
    left: 702px;
    top: 35px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #000000;    
}

.link-contuct {
    position: absolute;
    width: 91px;
    height: 31px;
    left: 869px;
    top: 35px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #000000;    
}

.profile {
    position: absolute;
    left: 90.65%;
    right: 7.63%;
    top: 35%;
    bottom: 92.48%;
}

.basket {
    position: absolute;
    left: 94.19%;
    right: 4.04%;
    top: 35%;
    bottom: 92.7%;
}

.Rectangle-2 {
    position: absolute;
    width: 643px;
    height: 420px;
    left: 455px;
    top: 100px;
    background: #F4F4F4;
}